In [22]:
import pandas as pd
import numpy as np

In [23]:
covid_deaths_csv = "Resources/Provisional_COVID-19_Death_Counts_by_Sex__Age__and_State.csv"

In [24]:
covid_deaths_df = pd.read_csv(covid_deaths_csv, low_memory=False)
covid_deaths_df.head()

,Data as of,Start week,End Week,State,Sex,Age group,COVID-19 Deaths,Total Deaths,Pneumonia Deaths,Pneumonia and COVID-19 Deaths,Influenza Deaths,"Pneumonia, Influenza, or COVID-19 Deaths",Footnote
0,11/04/2020,02/01/2020,10/31/2020,United States,All Sexes,All Ages,217348.0,2386184.0,222821.0,98881.0,6764.0,347041.0,NaN
1,11/04/2020,02/01/2020,10/31/2020,United States,All Sexes,Under 1 year,25.0,13508.0,126.0,4.0,16.0,163.0,NaN
2,11/04/2020,02/01/2020,10/31/2020,United States,All Sexes,0-17 years,113.0,23950.0,368.0,18.0,124.0,587.0,NaN
3,11/04/2020,02/01/2020,10/31/2020,United States,All Sexes,1-4 years,15.0,2534.0,81.0,2.0,42.0,136.0,NaN
4,11/04/2020,02/01/2020,10/31/2020,United States,All Sexes,5-14 years,39.0,4036.0,114.0,7.0,53.0,199.0,NaN

In [26]:
covid_deaths_df["Age group"].value_counts()

All Ages             216
1-4 years            163
75-84 years          163
50-64 years          163
55-64 years          163
65-74 years          163
15-24 years          163
30-49 years          163
5-14 years           163
18-29 years          163
85 years and over    163
25-34 years          163
45-54 years          163
Under 1 year         163
35-44 years          163
0-17 years           163
Name: Age group, dtype: int64

In [27]:
covid_deaths_df["Sex"].value_counts()

Female       864
Unknown      864
Male         864
All Sexes     69
Name: Sex, dtype: int64

In [28]:
covid_deaths_df["State"].value_counts()

United States           64
Ohio                    49
Colorado                49
Washington              49
Nevada                  49
Virginia                49
Wyoming                 49
Oregon                  49
New York                49
District of Columbia    49
New Hampshire           49
Idaho                   49
Missouri                49
Georgia                 49
Wisconsin               49
Iowa                    49
Kansas                  49
New Jersey              49
Kentucky                49
West Virginia           49
Rhode Island            49
Massachusetts           49
Florida                 49
California              49
Hawaii                  49
New Mexico              49
Oklahoma                49
Illinois                49
Montana                 49
Utah                    49
Michigan                49
Texas                   49
Mississippi             49
Nebraska                49
South Carolina          49
Maine                   49
North Dakota            49
Arizona                 49
Puerto Rico             49
North Carolina          49
Louisiana               49
Alaska                  49
Delaware                49
Vermont                 49
Pennsylvania            49
Tennessee               49
Alabama                 49
Maryland                49
Indiana                 49
Minnesota               49
Connecticut             49
South Dakota            49
Arkansas                49
New York City           49
Name: State, dtype: int64