In [1]:
# Dependencies
import pandas as pd
import numpy as np

In [2]:
# Path of csv file, originally converted using tabula
covid_deaths_by_age_sex_state_path = "Resources/Provisional_COVID-19_Death_Counts_by_Sex__Age__and_State.csv"

# Read the csv file
covid_deaths_by_age_sex_state_path_df = pd.read_csv(covid_deaths_by_age_sex_state_path, low_memory=False)

In [3]:
# Display the data table for preview
print()
print(f"COVID-19 Deaths by Age, Sex, State Dataset")
covid_deaths_by_age_sex_state_path_df.head()

COVID-19 Deaths by Age, Sex, State Dataset

,Data as of,Start week,End Week,State,Sex,Age group,COVID-19 Deaths,Total Deaths,Pneumonia Deaths,Pneumonia and COVID-19 Deaths,Influenza Deaths,"Pneumonia, Influenza, or COVID-19 Deaths",Footnote
0,10/28/2020,02/01/2020,10/24/2020,United States,All Sexes,All Ages,"212,328","2,330,395","217,959","96,557","6,750","339,473",NaN
1,10/28/2020,02/01/2020,10/24/2020,United States,All Sexes,Under 1 year,26,"13,183",123,4,16,161,NaN
2,10/28/2020,02/01/2020,10/24/2020,United States,All Sexes,0-17 years,111,"23,357",358,18,124,575,NaN
3,10/28/2020,02/01/2020,10/24/2020,United States,All Sexes,1-4 years,15,"2,484",78,2,42,133,NaN
4,10/28/2020,02/01/2020,10/24/2020,United States,All Sexes,5-14 years,39,"3,931",111,7,53,196,NaN

In [8]:
covid_deaths_by_age_sex_state_path_df["Sex"].value_counts()

Male         864
Female       864
Unknown      864
All Sexes     69
Name: Sex, dtype: int64

In [10]:
covid_deaths_by_age_sex_state_path_df["Age group"].value_counts()

All Ages             216
45-54 years          163
1-4 years            163
85 years and over    163
25-34 years          163
55-64 years          163
18-29 years          163
50-64 years          163
35-44 years          163
75-84 years          163
15-24 years          163
65-74 years          163
5-14 years           163
30-49 years          163
0-17 years           163
Under 1 year         163
Name: Age group, dtype: int64

In [9]:
covid_deaths_by_age_sex_state_path_df["State"].value_counts()

United States           64
New Hampshire           49
Alabama                 49
Wisconsin               49
Kentucky                49
Michigan                49
Florida                 49
Colorado                49
Washington              49
Kansas                  49
New Jersey              49
New Mexico              49
Georgia                 49
District of Columbia    49
Oregon                  49
Alaska                  49
New York City           49
North Carolina          49
Vermont                 49
Louisiana               49
South Dakota            49
Maryland                49
Massachusetts           49
Nevada                  49
Connecticut             49
North Dakota            49
Ohio                    49
Montana                 49
Pennsylvania            49
Missouri                49
Utah                    49
Oklahoma                49
Minnesota               49
New York                49
Texas                   49
Maine                   49
Virginia                49
Indiana                 49
Puerto Rico             49
Mississippi             49
Rhode Island            49
Hawaii                  49
Wyoming                 49
Arizona                 49
Delaware                49
California              49
Arkansas                49
Iowa                    49
Tennessee               49
South Carolina          49
Nebraska                49
Idaho                   49
Illinois                49
West Virginia           49
Name: State, dtype: int64